<div class="dialog-content-container-lg">
  <div class="code-container">
    <div class="row m-0">
      <div class="col-md-8">
        <div class="d-flex justify-content-between">
          <h3>Selected envs: </h3>
          <div>
            <button
              class="btn btn-sm btn-outline-secondary"
              (click)="selectEnvs()">Change</button>
          </div>
        </div>
        <div style="max-height: 400px; overflow-y: auto">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Env</th>
              <th scope="col">Info</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let env of envs">
              <th scope="row">
                {{ env.id }}
              </th>
              <td>{{ env.envName }}</td>
              <td>
                {{ env.env }}
              </td>
              <td>
                <button class="btn btn-outline-info" (click)="showInfo(env)">
                  <i class="fa fa-info"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4 sidebar">
        <hr class="d-sm d-md-none d-lg-none" />
        <p><strong>Logs:</strong></p>
        <div class="output">
          <div *ngFor="let log of scriptLogger.getLogs()">
            {{ envs[runningEnvInd].envName }}: {{ log.message }}
          </div>
        </div>

        <div *ngIf="running">
          <hr />
          <p>
            <strong>Running env
              {{ runningEnvInd + 1 }} of {{ envs.length }}
            </strong>
          </p>
          <div class="output-results">
            <div *ngFor="let env of envs; let i = index">
              <p>
                {{ env.envName }}:
                <span *ngIf="runningEnvInd < i">Waiting</span>
                <span *ngIf="runningEnvInd === i">In Progress</span>
                <span *ngIf="runningEnvInd > i">Done</span>
              </p>
            </div>
            <!--            <button-->
            <!--              class="btn btn-sm btn-outline-info"-->
            <!--              (click)="showCode()"-->
            <!--            >View Full-->
            <!--            </button>-->
            <!--            <pre>{{ result.output | json }}</pre>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="d-flex justify-content-between">
    <div></div>
    <div>
      <button class="btn btn-outline-success" (click)="execute()">Run</button>
    </div>
  </div>
</div>
