<div>
  <div class="row">
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4 col-md-4 sidebar-section rounded sidebar-background">
      <section class="sidebar-item">
        <h4>Templates</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.ADD_TEMPLATE.toString()">New Template</a>
          </li>
          <li routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="routes.SEARCH_TEMPLATES.toString()">Search Templates</a>
          </li>
        </ul>
      </section>
      <hr>
    </div>
  </div>
</div>
