ngx-monaco-editor {
  width: 100%;
  height: 400px;
  margin: 0;
}

.sidebar {
  max-height: 470px;
  overflow-y: auto;

  .output, .output-logs {
    max-height: 200px;
    overflow-y: auto;
  }

  .output-logs {
    max-height: 100px;
  }
}

.code-container {
  max-height: 480px;
  overflow-y: auto;
}
