<div>
  <h4>Environment</h4>
  <div class="filters-header">
    <div class="filter">
      <app-select-search
        placeholder="Override Environment"
        [payload]="environments"
        [currentDisplaySelection]="selectedEnv?.envName"
        (selectionChange)="envSelected($event)"></app-select-search>
    </div>
  </div>

  <hr>

  <div class="pb-3">
    <h4>Metadata</h4>
    <form [formGroup]="metaForm">
      <div class="mt-2">
        <app-input placeholder="Setting ID" formControlName="settingId"></app-input>
      </div>
      <div class="mt-2">
        <app-select [options]="levels" placeholder="Level" formControlName="level"></app-select>
      </div>
      <div class="mt-2">
        <app-select [options]="tiers" placeholder="Tier" formControlName="tier"></app-select>
      </div>
      <div class="mt-2">
        <app-select [options]="types" placeholder="Type" formControlName="type"></app-select>
      </div>
    </form>

    <hr>

    <app-benefits-banner-form
      (formSubmitted)="onFormSubmit($event)"
      [existingSetting]="setting"
      [metaFormValid]="metaForm.valid"
      *ngIf="currentType === settingTypes.BENEFITS_BANNER"></app-benefits-banner-form>

    <app-hub-header-form
      (formSubmitted)="onFormSubmit($event)"
      [existingSetting]="setting"
      [metaFormValid]="metaForm.valid"
      *ngIf="currentType === settingTypes.HUB_HEADER"></app-hub-header-form>

    <app-bees-bank-form
      (formSubmitted)="onFormSubmit($event)"
      [existingSetting]="setting"
      [metaFormValid]="metaForm.valid"
      *ngIf="currentType === settingTypes.BEES_BANK"></app-bees-bank-form>

    <app-toggles-form
      (formSubmitted)="onFormSubmit($event)"
      [existingSetting]="setting"
      [metaFormValid]="metaForm.valid"
      *ngIf="currentType === settingTypes.TOGGLES"></app-toggles-form>
  </div>
</div>
