<div>
  <div>
    <h3>Search Promos</h3>
  </div>

  <div>
    <h4>Environment</h4>
    <div class="filters-header">
      <div class="filter">
        <app-env-override-field></app-env-override-field>
      </div>
    </div>
  </div>

  <hr>

  <div class="filters">
    <h4>Filters</h4>
    <div class="filters-header">
      <div class="filter">
        <div class="d-flex">
          <app-input placeholder="Vendor Account ID" (onChangeEnd)="contractIdChange($event)"></app-input>
          <button
            (click)="pickAccount()"
            class="btn btn-sm btn-outline-warning ms-1">Pick</button>
        </div>
        <small
          *ngIf="query.body.contractId">
          <strong *ngIf="selectedAccId">({{ selectedAccId || '' }})<br></strong>
          <strong>
          Platform ID:
            <app-tooltip-span
              [tooltipText]="query.body.contractId"
              [displayText]="shortenStr(query.body.contractId )"></app-tooltip-span>
          </strong>
        </small>
      </div>
      <div class="filter">
        <app-input placeholder="Price List ID"
                   (onChangeEnd)="reloadFilters()"
                   [(ngModel)]="query.body.priceListId"></app-input>
      </div>
      <div class="filter">
        <app-input placeholder="Vendor Deal ID"
                   (onChangeEnd)="reloadFilters()"
                   [(ngModel)]="query.body.vendorDealId"></app-input>
      </div>
      <div class="filter">
        <app-input placeholder="Deliv. Center Platform ID"
                   (onChangeEnd)="reloadFilters()"
                   [(ngModel)]="query.body.deliveryCenterId"></app-input>
      </div>
      <div class="filter">
        <app-select-search
          placeholder="Types"
          [payload]="outputTypes"
          (selectionChange)="outputTypeSelected($event)"
          [clearOnSelect]="true"></app-select-search>
        <div *ngFor="let type of query.types" class="d-flex justify-content-between">
          <span>{{ type }}</span>
          <span (click)="removeOutputType(type)"><i class="fa-solid fa-x"></i></span>
        </div>
      </div>
      <div class="filter">
        <app-input
          placeholder="Vendor Promo Id"
          [clearOnChangeEnd]="true"
          (onChangeEnd)="addPromoId($event)"></app-input>
        <div *ngFor="let promoId of query.body.vendorPromotionIds" class="d-flex justify-content-between">
          <span>{{ promoId }}</span>
          <span (click)="removePromoId(promoId)"><i class="fa-solid fa-x"></i></span>
        </div>
      </div>
      <div class="filter">
        <app-input
          placeholder="Coupon Codes"
          [clearOnChangeEnd]="true"
          (onChangeEnd)="addCouponCode($event)"></app-input>
        <div *ngFor="let code of query.body.couponCode" class="d-flex justify-content-between">
          <span>{{ code }}</span>
          <span (click)="removeCouponCode(code)"><i class="fa-solid fa-x"></i></span>
        </div>
      </div>
      <div class="filter">
        <app-input placeholder="Deliv. Date (yyyy-mm-dd)"
                   (onChangeEnd)="reloadFilters()"
                   [(ngModel)]="query.body.deliveryDate"></app-input>
      </div>
      <div class="filter">
        <app-checkbox label="First Order"
                      [(ngModel)]="query.body.firstOrder"
                      (onChangeEnd)="reloadFilters()"></app-checkbox>
      </div>
      <div class="filter">
        <app-checkbox label="Hidden On Deals"
                      [(ngModel)]="query.body.hiddenOnDeals"
                      (onChangeEnd)="reloadFilters()"></app-checkbox>
      </div>
      <div class="filter">
        <app-checkbox label="Ignore Start Date"
                      [(ngModel)]="query.ignoreStartDate"
                      (onChangeEnd)="reloadFilters()"></app-checkbox>
      </div>
      <div class="filter">
        <app-checkbox label="Ignore End Date"
                      [(ngModel)]="query.ignoreEndDate"
                      (onChangeEnd)="reloadFilters()"></app-checkbox>
      </div>
      <div class="filter">
        <app-input
          placeholder="Item Platform Ids"
          [clearOnChangeEnd]="true"
          (onChangeEnd)="addItemId($event)"></app-input>
        <div *ngFor="let itemId of query.body.itemIds" class="d-flex justify-content-between">
          <span>{{ shortenStr(itemId, 15) }}</span>
          <span (click)="removeItemId(itemId)"><i class="fa-solid fa-x"></i></span>
        </div>
      </div>
      <div class="filter">
        <app-input placeholder="Order Subtotal"
                   type="number"
                   (onChangeEnd)="reloadFilters()"
                   [(ngModel)]="query.body.orderSubtotal"></app-input>
      </div>
      <div class="filter">
        <app-input placeholder="Order Total"
                   type="number"
                   (onChangeEnd)="reloadFilters()"
                   [(ngModel)]="query.body.orderTotal"></app-input>
      </div>
      <div class="filter">
        <app-input placeholder="Payment method"
                   (onChangeEnd)="reloadFilters()"
                   [(ngModel)]="query.body.paymentMethod"></app-input>
      </div>
    </div>
  </div>

  <hr>
  <div class="main">
    <div *ngIf="fullResponse && !fullResponse.isSuccess">
      <div class="alert alert-warning d-flex justify-content-between">
        <p>Request concluded with failure!</p>
        <button class="btn btn-outline-dark" (click)="openResponseDetailsDialog()">Show Details</button>
      </div>
    </div>
    <p>Showing {{ searchResponse.deals.length }} promotions on page {{ query.page.page + 1 }}</p>
    <div>
      <button [disabled]="query.page.page < 1" (click)="pageChange(query.page.page - 1)"
              class="btn btn-outline-dark m-1">Prev
      </button>
      <button *ngIf="searchResponse.pagination.hasMore" (click)="pageChange(query.page.page + 1)"
              class="btn btn-outline-dark m-1">Next
      </button>

      <hr>

      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Vendor Deal ID</th>
          <th scope="col">Level / Priority</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let deal of searchResponse.deals">
          <th scope="row">
            <small>{{deal.vendorDealId }}</small>
          </th>
          <td>
            {{ deal.level || deal.priority }}
          </td>
          <td>
            <div class="d-flex justify-content-around">
              <button class="btn btn-outline-success" (click)="openDetailsDialog(deal)">View Details</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
