<div>
  <h4>Accounts</h4>
  <div class="filters-header">
    <div class="filter">
      <app-input
        placeholder="Name"
        (onChangeEnd)="nameChanged($event)"></app-input>
    </div>
    <div class="filter">
      <app-input
        placeholder="ID (Bees, Vendor, Customer)"
        (onChangeEnd)="idChanged($event)"></app-input>
    </div>
    <div class="filter d-flex align-items-center">
      <app-checkbox label="Search all Envs"
                    (onChange)="allEnvsChange($event)"></app-checkbox>
    </div>
  </div>
  <hr>
  <div style="overflow-y: auto; height: 400px;">
    <p *ngIf="!accountsPage.content.length" class="alert alert-warning">
      No saved accounts found for {{ payload.env.envName }}
    </p>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Bees ID</th>
        <th scope="col">Name</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Vendor Acc Id</th>
        <th scope="col" *ngIf="!query.env">Env</th>
        <th scope="col" *ngIf="!payload.hideActions">Actions</th>
        <th scope="col" class="text-center" *ngIf="payload.showDetailsButton">
          <i class="fa fa-info"></i>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let acc of accountsPage.content">
        <th scope="row">
          <app-tooltip-span
            [trimDisplayTextChars]="25"
            [enableCopy]="true"
            [tooltipText]="acc.beesId"
            [displayText]="acc.beesId"></app-tooltip-span>
        </th>
        <td>{{ acc.name }}</td>
        <td>
          <app-tooltip-span
            [trimDisplayTextChars]="25"
            [enableCopy]="true"
            [tooltipText]="acc.customerAccountId"
            [displayText]="acc.customerAccountId"></app-tooltip-span>
        </td>
        <td>
          <app-tooltip-span
            [trimDisplayTextChars]="25"
            [enableCopy]="true"
            [tooltipText]="acc.vendorAccountId"
            [displayText]="acc.vendorAccountId"></app-tooltip-span>
        </td>
        <td *ngIf="!query.env">
          {{ acc.env.envName }}
        </td>
        <td *ngIf="!payload.hideActions">
          <div class="m-1">
            <button class="btn btn-outline-primary" (click)="selectAccount(acc)">Choose</button>
          </div>
        </td>
        <td *ngIf="payload.showDetailsButton">
          <div class="m-1">
            <button
              title="Show Account Details"
              class="btn btn-outline-info"
              (click)="showBeesAccount(acc)">
              <i class="fa fa-info"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <hr class="mt-0 mb-1">
  <app-pagination
    (pageChange)="pageChanged($event)"
    [pagination]="pageToPagination(accountsPage)"></app-pagination>
</div>
