<div class="container mt-5">

  <div class="row">
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4 col-md-4 sidebar-section rounded sidebar-background">
      <section class="sidebar-item">
        <h4>Rewards Settings</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.SEARCH_REWARDS_SETTINGS.toString()">Search</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CREATE_REWARDS_SETTINGS.toString()">Create</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CREATE_REWARDS_SETTINGS_RAW.toString()">Create (RAW JS)</a>
          </li>
        </ul>
      </section>
      <hr>
    </div>
  </div>
</div>
