<div class="container mt-5">

  <div class="row">
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2 sidebar-section rounded sidebar-background">
      <section class="sidebar-item">
        <h4>Rewards Settings</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.SEARCH_REWARDS_SETTINGS.toString()">Search</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CREATE_REWARDS_SETTINGS.toString()">Create</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CREATE_REWARDS_SETTINGS_RAW.toString()">Create (RAW JS)</a>
          </li>
        </ul>
      </section>
      <hr>

      <section class="sidebar-item">
        <h4>Segmentation</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.SEARCH_SEGMENTATION_GROUPS.toString()">Search All Groups</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.SEARCH_SEGMENTATION_GROUPS_BY_ACCOUNT.toString()">Search Groups By Accounts</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CREATE_SEGMENTATION_GROUP.toString()">Create / Update Group</a>
          </li>
        </ul>
      </section>
      <hr>

      <section class="sidebar-item">
        <h4>Challenges</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.SEARCH_CHALLENGES.toString()">Search Challenges</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CREATE_CHALLENGE.toString()">Create (TODO)</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
