<div class="container mt-5">

  <div class="row">
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4 col-md-4 sidebar-section rounded sidebar-background">
      <section class="sidebar-item">
        <h4>Items</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.ITEMS_SEARCH.toString()">Search V2</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.ITEMS_ADD_RAW.toString()">Add V2</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.ITEMS_UPLOAD_IMAGES.toString()">Upload Images</a>
          </li>
        </ul>
      </section>
      <hr>
      <section class="sidebar-item">
        <h4>Inventory</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.ITEMS_GET_INVENTORY.toString()">Check Item stock (TODO)</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.ITEMS_ADD_INVENTORY.toString()">Add Stock</a>
          </li>
        </ul>
      </section>
      <hr>
      <section class="sidebar-item">
        <h4>Categories</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CATEGORY_SEARCH_V3.toString()">GET V3</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CATEGORY_UPLOAD_IMAGES.toString()">Upload Images</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CATEGORY_BULK_CREATE.toString()">Add in Bulk</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.CATEGORY_BULK_ASSIGN.toString()">Assign Items in Bulk</a>
          </li>
        </ul>
      </section>
      <hr>
    </div>
  </div>
</div>
