<div class="container mt-5">

  <div class="row">
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2 sidebar-section rounded sidebar-background">
      <section class="sidebar-item">
        <h4>Accounts</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.ACCOUNTS_SEARCH_CONTRACTS.toString()">Search Contracts</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.ACCOUNTS_SEARCH_V1.toString()">Search V1</a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.ACCOUNTS_ADD_V2_RAW.toString()">
              Add V2 (Raw JSON)
            </a>
          </li>
        </ul>
      </section>
      <hr>
      <section class="sidebar-item">
        <h4>Delivery Windows</h4>
        <ul>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.DELIVERY_WINDOWS_SEARCH.toString()">
              Search (TODO)
            </a>
          </li>
          <li routerLinkActive="link-active">
            <a [routerLink]="routes.DELIVERY_WINDOWS_ADD.toString()">Add V1</a>
          </li>
        </ul>
      </section>
      <hr>
    </div>
  </div>
</div>
