<div class="card dialog-content-container">
  <div class="card-body">
    <div class="mt-2">
      <h6>Request Details</h6>
      <p>
        <strong class="p-1 {{payload.method}}">{{ payload.method }}:
        </strong>
        <span *ngIf="!template">Loading...</span>
        <code *ngIf="template"> {{ template.endpoint }}</code>
      </p>
      <p>Save In History: <strong>{{ ObjectUtils.boolToYesNo(payload.saveInHistory) }}</strong></p>
      <p><strong>Entity:</strong> {{ payload.entity }}</p>
    </div>

    <div class="mt-2">
      <h6>Query Parameters</h6>
      <span *ngIf="!template">Loading...</span>
      <ul class="list-group" *ngIf="template">
        <li class="list-group-item" *ngFor="let param of template.queryParams">
          <div class="d-flex justify-content-between">
            <strong>{{ param.name }}:</strong>
            <div class="ps-2 text-start flex-grow-1">
              <app-tooltip-span
                [displayText]="param.value"
                [tooltipText]="param.value"
                [trimDisplayTextChars]="60"></app-tooltip-span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>Headers</h6>
      <span *ngIf="!template">Loading...</span>
      <ul class="list-group" *ngIf="template">
        <li class="list-group-item" *ngFor="let header of template.headers">
          <div class="d-flex justify-content-between">
            <strong>{{ header.name }}:</strong>
            <div class="ps-2 text-start flex-grow-1">
              <app-tooltip-span
                [displayText]="header.value"
                [tooltipText]="header.value"
                [trimDisplayTextChars]="60"></app-tooltip-span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>JSON Payload</h6>
              <pre *ngIf="template">{{ template.payloadTemplate | json }}</pre>
    </div>

    <div class="mt-2 text-end">
      <button (click)="downloadLogs()" class="btn btn-outline-success">Save Logs</button>
      <button (click)="sendRequest()" class="ms-1 btn btn-secondary">Send Request</button>
    </div>
  </div>
</div>
