<div style="overflow-y: auto; max-height: 500px;">
  <h3>TODO: display the data properly</h3>
<pre>
  {{ dataJson }}
</pre>
</div>
<hr>
<div class="text-end">
  <button class="btn btn-outline-dark m-1" (click)="close(undefined);">Close</button>
  <button class="btn btn-outline-success m-1" (click)="copy();">Copy</button>
  <button class="btn btn-outline-danger m-1" (click)="delete();">Delete</button>
  <button class="btn btn-outline-primary m-1" (click)="saveLocally();">Save</button>
  <a class="btn btn-outline-success m-1" [routerLink]="getEditRawRoute()" (click)="close(undefined);">Edit Raw</a>
  <a class="btn btn-outline-warning m-1" [routerLink]="getEditRoute()" (click)="close(undefined);">Edit</a>
</div>
