<h4>Environment</h4>
<div>
  <app-env-override-field></app-env-override-field>
</div>
<div class="mt-2">
  <div>
    <app-override-auth-token-field
      (tokenChanged)="overrideAuthToken = $event"></app-override-auth-token-field>
  </div>
</div>
<hr>

<form [formGroup]="form">
  <div class="mt-2">
    <app-input placeholder="Group ID" formControlName="groupId"></app-input>
  </div>
  <div class="mt-2">
    <app-input placeholder="Group Name" formControlName="groupName"></app-input>
  </div>
  <div class="mt-2">
    <app-input placeholder="Group Description" formControlName="groupDescription"></app-input>
  </div>
  <div class="mt-2">
    <app-input placeholder="Purpose" formControlName="purpose"></app-input>
  </div>

  <hr>
  <h5>POCS</h5>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <app-input (onChangeEnd)="setPocsToAdd($event)" placeholder="Pocs to Add" type="number"></app-input>
        </div>
        <div class="col">
          <button type="button"
                  (click)="addPocs()"
                  class="btn btn-sm btn-outline-primary">Add Pocs
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <textarea
            class="form-control"
            #pocsArray
            placeholder="Array of account ids... [&quot;poc1&quot;, &quot;poc2&quot;]"
            rows="7"></textarea>
        </div>
        <div class="col">
          <button type="button"
                  (click)="addPocsArray(pocsArray.value)"
                  class="btn btn-sm btn-outline-secondary">Add Pocs
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2 ms-2" formArrayName="pocs">
    <div *ngFor="let poc of form.controls.pocs.controls; let i = index" [formGroupName]="i">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <app-input
            class="m-1"
            placeholder="Poc ID"
            formControlName="pocId"></app-input>
          <button
            (click)="pickAccount(i)"
            class="btn btn-sm btn-outline-warning m-1">Pick</button>
        </div>
        <app-input class="m-1" placeholder="Points" formControlName="points"></app-input>
        <app-input class="m-1" placeholder="Quantity" formControlName="quantity"></app-input>
        <span>
          <i class="fa fa-x"
             style="cursor: pointer;"
             aria-hidden="true"
             (click)="removePocForm(i)"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="mt-2 text-end">
    <button type="submit"
            class="btn btn-outline-dark"
            [disabled]="!form.valid"
            (click)="formSubmitted()">Save
    </button>
  </div>
</form>
