@import "variables";


.text-main {
  color: $primary;
}

.text-second {
  color: $secondary;
}

.bg-main {
  background-color: $primary;
  color: white;
}

.bg-second {
  background-color: $secondary;
  color: white;
}

.alert-bees {
  background: linear-gradient(45deg, yellow, #FF8C00);
  color: #000;
}
