// Page widths
$screen-md: 768px;
$screen-lg: 1024px;

// Z-Indexes
$zindexLoader: 1112;
$zindexDialog: 1111;
$zindexSidebar: 1110;

// Colors
$mainBgColor: #232529;
$mainColor: rgb(255, 255, 255);
