<div class="setting-dialog">
  <div *ngIf="!payload">
    <p class="alert alert-danger">There is no selected environment!</p>
    <div class="text-end">
      <button class="btn btn-dark" (click)="close(undefined)">Close</button>
    </div>
  </div>

  <div *ngIf="payload">
    <div>
      <button (click)="openTemporaryTokenDialog()" class="btn btn-outline-secondary">Temp Token</button>
      <span *ngIf="tokenExists" class="ms-1">Provided</span>
    </div>
    <hr>
    <div>
      <app-checkbox [(ngModel)]="saveNextRequest"
                    (onChange)="onSaveNextRequestClick($event)" label="Save Next Request"></app-checkbox>
    </div>
  </div>

  <div>
    <hr>
    <h3>User settings</h3>
    <button class="btn btn-dark" (click)="openChangePasswordDialog()">Change password</button>
  </div>
</div>
